<table
  style="
    width: 600px;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: Verdana;
    height: 95px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 351px 18px;
    background-image: url('<%= photoBackgroundUrl %>');
  "
>
  <tr style="height: 18px; background-color: #fff; font-size: 5%">
    <td colspan="6" data-type="void" data-position="top" style="padding: 0">
      &nbsp;
    </td>
  </tr>
  <tr style="height: 95px">
    <td
      rowspan="3"
      data-type="void"
      data-position="top-left"
      style="
        height: 196px;
        background-color: #fff;
        width: 29px;
        padding: 0;
        font-size: 5%;
      "
    >
      &nbsp;
    </td>
    <!--Logo Azienda-->
    <td
      colspan="3"
      data-type="logo"
      style="
        background-color: #fff;
        padding: 0;
        background-repeat: no-repeat;
        background-image: url('<%= companyLogoUrl %>');
      "
    >
      &nbsp;
    </td>

    <td
      rowspan="4"
      data-type="photo"
      style="
        width: 220px;
        height: 220px;
        padding: 0;
        background-repeat: no-repeat;
        background-image: url('<%= photoForegroundUrl %>');
      "
    ></td>
    <td
      rowspan="3"
      data-type="void"
      data-position="top-right"
      style="
        height: 196px;
        background-color: #fff;
        padding: 0;
        width: 29px;
        font-size: 5%;
      "
    >
      &nbsp;
    </td>
  </tr>
  <tr style="height: 22px; background-color: #fff">
    <!--Nome Persona-->
    <td
      colspan="3"
      data-type="name"
      style="
        padding: 0;
        font-size: 19px;
        font-weight: 600;
        color: <%= companyColor %>;
      "
    >
      <%= personName %>
    </td>
  </tr>
  <tr style="height: 66px; background-color: #fff">
    <!--Ruolo-->
    <td
      colspan="3"
      data-type="role"
      style="
        padding: 0;
        padding-top: 0.25rem;
        font-size: 13px;
        font-weight: 500;
        vertical-align: top;
      "
    >
      <%= personRole %>
    </td>
  </tr>
  <tr style="height: 24px">
    <td
      rowspan="5"
      data-type="void"
      data-position="bottom-left"
      style="
        padding: 0;
        background-color: <%= companyColor %>;
        width: 29px;
        font-size: 5%;
      "
    >
      &nbsp;
    </td>
    <td
      colspan="3"
      data-type="void"
      data-position="separator-h"
      style="padding: 0; background-color: <%= companyColor %>; font-size: 5%"
    >
      &nbsp;
    </td>
    <td
      rowspan="5"
      data-type="void"
      data-position="bottom-right"
      style="
        padding: 0;
        background-color: <%= companyColor %>;
        width: 29px;
        font-size: 5%;
      "
    >
      &nbsp;
    </td>
  </tr>
  <tr style="background-color: <%= companyColor %>; color: #fff">
    <!--Cellulare-->
    <td
      colspan="2"
      data-type="mobile-phone"
      style="
        height: 23px;
        padding: 0;
        background-repeat: no-repeat;
        background-image: url('https://meloria.com/wp-content/uploads/sites/2/2025/10/amico_icon_mobile003.png');
        background-position: 0px 1px;
        background-size: 21px auto;
        font-size: 13px;
        padding-left: 26px;
      "
    >
      <a
        style="text-decoration: none; color: #fff"
        href="tel:<%= personMobile %>"
      >
        <%= personMobileFormatted %>
      </a>
    </td>
    <td
      rowspan="4"
      data-type="void"
      data-position="separator-v"
      style="
        width: 50px;
        padding: 0;
        background-repeat: no-repeat;
        background-image: url('https://meloria.com/wp-content/uploads/sites/2/2025/10/amico_separator.png');
        background-position: center;
        font-size: 5%;
      "
    >
      &nbsp;
    </td>
    <!--Info Azienda-->
    <td
      rowspan="4"
      data-type="company-info"
      style="padding: 0; vertical-align: middle; font-size: 14px; color: #fff"
    >
      <span
        style="
          display: block;
          margin: 0;
          margin-bottom: 3px;
          color: #fff !important;
        "
        ><%= companyName %></span
      >
      <span
        style="
          display: block;
          margin: 0;
          margin-bottom: 3px;
          color: #fff !important;
        "
        ><%= companyAddress %></span
      >
      <span
        style="
          display: block;
          margin: 0;
          margin-bottom: 3px;
          color: #fff !important;
        "
        ><%= companyCap %></span
      >
      <span style="display: block; margin: 0; color: #fff !important"
        >VAT n&deg; <%= companyVat %></span
      >
    </td>
  </tr>
  <tr
    style="background-color: <%= companyColor %>; color: #fff; font-size: 13px"
  >
    <!--Tel. Azienda-->
    <td
      colspan="2"
      data-type="office-phone"
      style="
        height: 23px;
        padding: 0;
        background-repeat: no-repeat;
        background-image: url('https://meloria.com/wp-content/uploads/sites/2/2025/10/amico_icon_office003.png');
        background-position: 0px 1px;
        background-size: 21px auto;
        padding-left: 26px;
      "
    >
      <a
        style="text-decoration: none; color: #fff"
        href="tel:<%= companyPhone %>"
      >
        <%= companyPhoneFormatted %>
      </a>
    </td>
  </tr>
  <tr
    style="background-color: <%= companyColor %>; color: #fff; font-size: 13px"
  >
    <!--Sito Web-->
    <td
      colspan="2"
      data-type="url"
      style="
        height: 23px;
        padding: 0;
        background-repeat: no-repeat;
        background-image: url('https://meloria.com/wp-content/uploads/sites/2/2025/10/amico_icon_url003.png');
        background-position: 0px 1px;
        background-size: 21px auto;
        padding-left: 26px;
      "
    >
      <a
        style="text-decoration: none; color: #fff"
        href="<%= companyWebsite %>"
        target="_blank"
      >
        <%= companyWebsite %>
      </a>
    </td>
  </tr>
  <tr
    style="background-color: <%= companyColor %>; color: #fff; font-size: 13px"
  >
    <!--Email Persona-->
    <td
      colspan="2"
      data-type="email"
      style="
        height: 23px;
        padding: 0;
        background-repeat: no-repeat;
        background-image: url('https://meloria.com/wp-content/uploads/sites/2/2025/10/amico_icon_email003.png');
        background-position: 0px 1px;
        background-size: 21px auto;
        padding-left: 26px;
      "
    >
      <a
        style="text-decoration: none; color: #fff"
        href="mailto:<%= personEmail %>"
        target="_blank"
      >
        <%= personEmail %>
      </a>
    </td>
  </tr>
  <tr
    style="height: 50px; background-color: <%= companyColor %>; font-size: 5%"
  >
    <td colspan="6" data-type="void" data-position="bottom" style="padding: 0">
      &nbsp;
    </td>
  </tr>
</table>
