<table
  width="600pt"
  cellpadding="0"
  cellspacing="0"
  style="font-family: Verdana; color: #01548b"
>
  <tbody>
    <tr>
      <!-- Logo -->
      <td width="135pt" valign="top" style="padding: 10px 20px">
        <img
          src="<%= companyLogoUrl %>"
          alt="<%= companyName %>"
          style="width: 150pt; margin-bottom: 30pt"
        />

        <div style="font-size: 15pt; font-weight: bold; color: #01548b">
          <%= personName %>
        </div>
        <div style="font-size: 10.5pt; color: #000"><%= personRole %></div>
      </td>

      <!-- Foto -->
      <td width="150pt" align="right" valign="top" style="padding-right: 20px">
        <img
          src="<%= photoForegroundUrl %>"
          alt="Profile Photo"
          style="
            width: 127.5pt;
            height: 127.5pt;
            border-radius: 50%;
            border: 3.75pt solid #01548b;
          "
        />
      </td>
    </tr>

    <tr>
      <td
        colspan="2"
        style="padding-top: 15pt; border-bottom: 1.5pt solid #01548b"
      ></td>
    </tr>

    <tr
      style="
        background-color: #01548b;
        color: white;
        font-size: 13.5pt;
        font-weight: bold;
      "
    >
      <td
        colspan="2"
        style="padding-top: 18pt; padding-bottom: 37.5pt; padding-left: 11.25pt"
      >
        <table
          width="100%"
          cellpadding="0"
          cellspacing="0"
          style="font-size: 10.5pt"
        >
          <tbody>
            <tr>
              <td width="55%" valign="top" style="color: #fff">
                <div style="display: flex; align-items: center; gap: 3.75pt">
                  <img
                    src="https://uxwing.com/wp-content/themes/uxwing/download/communication-chat-call/phone-call-white-icon.png"
                    width="11.25pt"
                  />
                  <a href="tel:<%= personMobile %>" style="color: #fff">
                    <%= personMobile %></a
                  >
                </div>
                <br />
                <div style="display: flex; align-items: center; gap: 3.75pt">
                  <img
                    src="https://uxwing.com/wp-content/themes/uxwing/download/communication-chat-call/phone-call-white-icon.png"
                    width="11.25pt"
                  />
                  <a href="tel:<%= companyPhone %>" style="color: #fff">
                    <%= companyPhone %></a
                  >
                </div>
                <br />
                <div style="display: flex; align-items: center; gap: 3.75pt">
                  <img
                    src="https://uxwing.com/wp-content/themes/uxwing/download/location-travel-map/world-globe-white-icon.png"
                    alt=""
                    width="11.25pt"
                  />
                  <a href="<%= companyWebsite %>" style="color: #fff">
                    <%= companyWebsite %></a
                  >
                </div>
                <br />
                <div style="display: flex; align-items: center; gap: 3.75pt">
                  <img
                    src="https://uxwing.com/wp-content/themes/uxwing/download/communication-chat-call/email-envelope-line-white-icon.png"
                    alt=""
                    width="11.25pt"
                  />
                  <a href="mailto:<%= personEmail %>" style="color: #fff">
                    <%= personEmail %></a
                  >
                </div>
              </td>

              <td
                width="45%"
                valign="top"
                style="
                  padding-left: 15pt;
                  border-left: 0.75pt solid #fff;
                  line-height: 18.75pt;
                  color: #fff;
                "
              >
                <strong><%= companyName %></strong><br />
                <%= companyAddress %><br />
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
