<table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="480"
  style="width:360.0pt;background:white;border-collapse:collapse;mso-yfti-tbllook:1184">

  <tr style="height:16.0pt">
    <td colspan="6" style="height:16.0pt"></td>
  </tr>

  <tr>
    <td width="21" rowspan="2"></td>

    <td width="329" colspan="4" style="padding:.75pt">
      <a href="<%= companyWebsite %>">
        <img
          src="<%= companyLogoUrl %>"
          alt="<%= companyName %>"
          width="175"
          height="45"
          style="display:block;border:0"
        />
      </a>
    </td>

    <td width="21" rowspan="2"></td>
  </tr>

  <tr>
    <td colspan="4" style="padding:.75pt">
      <p style="margin:7.2pt 0 3.6pt 0">
        <strong style="font-size:12.5pt;font-family:Verdana;color:<%= companyColor %>">
          <%= personName %>
        </strong>
      </p>
      <p style="margin:3.6pt 0 18pt 0;font-size:9pt;font-family:Verdana">
        <%= personRole %>
      </p>
    </td>
  </tr>

  <tr style="height:16.0pt">
    <td colspan="6" style="background:<%= companyColor %>;height:16.0pt"></td>
  </tr>

  <!-- CONTATTI -->
  <tr>
    <td rowspan="4" style="background:<%= companyColor %>"></td>

    <td style="background:<%= companyColor %>">
      <img src="https://uxwing.com/wp-content/themes/uxwing/download/communication-chat-call/phone-call-white-icon.png" width="15" />
    </td>
    <td style="background:<%= companyColor %>">
      <span style="font-size:8pt;font-family:Verdana;color:white">
        <%= personMobile %>
      </span>
    </td>

    <td rowspan="4" style="background:<%= companyColor %>"></td>

    <td style="background:<%= companyColor %>">
      <span style="font-size:8pt;font-family:Verdana;color:white">
        <%= companyName %>
      </span>
    </td>

    <td rowspan="4" style="background:<%= companyColor %>"></td>
  </tr>

  <tr>
    <td style="background:<%= companyColor %>">
      <img src="https://uxwing.com/wp-content/themes/uxwing/download/communication-chat-call/phone-call-white-icon.png" width="15" />
    </td>
    <td style="background:<%= companyColor %>">
      <span style="font-size:8pt;font-family:Verdana;color:white">
        <%= companyPhone %>
      </span>
    </td>
    <td style="background:<%= companyColor %>">
      <span style="font-size:8pt;font-family:Verdana;color:white">
        <%= companyAddress %>
      </span>
    </td>
  </tr>

  <tr>
    <td style="background:<%= companyColor %>">
      <img src="https://uxwing.com/wp-content/themes/uxwing/download/location-travel-map/world-globe-white-icon.png" width="15" />
    </td>
    <td style="background:<%= companyColor %>">
      <a href="<%= companyWebsite %>" style="font-size:8pt;font-family:Verdana;color:white">
        <%= companyWebsite %>
      </a>
    </td>
    <td style="background:<%= companyColor %>">
      <span style="font-size:8pt;font-family:Verdana;color:white">
        VAT: <%= companyVatNumber %>
      </span>
    </td>
  </tr>

  <tr>
    <td style="background:<%= companyColor %>">
      <img src="https://uxwing.com/wp-content/themes/uxwing/download/communication-chat-call/email-envelope-line-white-icon.png" width="15" />
    </td>
    <td style="background:<%= companyColor %>">
      <a href="mailto:<%= personEmail %>" style="font-size:8pt;font-family:Verdana;color:white">
        <%= personEmail %>
      </a>
    </td>
    <td style="background:<%= companyColor %>"></td>
  </tr>

  <tr style="height:16.0pt">
    <td colspan="6" style="background:<%= companyColor %>;height:16.0pt"></td>
  </tr>

</table>
